[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansi2html = "*"
dash = "==2.0.0"
dash-bootstrap-components = "==1.0.0"
gunicorn = "*"
lottie = "*"
millify = "*"
pandas = "==1.3.4"
requests = "*"
retrying = "*"
pycoingecko = "*"
dash-extensions = "*"
subgrounds = "*"

[dev-packages]

[requires]
python_version = "3.10"
