*{
  font-family: 'Poppins', sans-serif;
}
.homepage_image{
  background-image: url("Homepage.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.emission_card_style{
  background: linear-gradient(114.38deg, #00CC33 0%, #0BA1FF 126.76%);
  border-radius: 15px;
  padding: 10px;
}
.emission_card_style_v2{
  background: #303030;
  border: 1px solid #00CC33;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 10px;
}
.emission_card_style_v3{
  background: #303030;
  border: 2px solid #00CC33;
  box-sizing: border-box;
  border-radius: 15px;
}
.emission_card_topic{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  color: #FFFFFF;
  justify-content: stretch;
}
.emission_card_metric{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  padding: 10px;
  color: #FFFFFF;
}
.enclosure_card_topic{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
  border-radius: 15px 15px 15px 15px;
}
.enclosure_card_style{
  background: #232b2b;
  mix-blend-mode: normal;
  border-color: #00CC33;
  border-radius: 15px;
}
/* Rectangle 20 */

.roi_card_style{
  background: linear-gradient(103.71deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 98.83%);
  border-radius: 15px;
}
.roi_card_topic{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.roi_card_metric{
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.staking_sim_tab_style{
  width: 238px;
  height: 51px;
  left: 57px;
  top: 217px;background: linear-gradient(71.9deg, #00CC33 24.64%, #00771E 92.66%);
  border-radius: 15px 15px;
}
.page_section_topic{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 96px;
  color: #FFFFFF;
}
.navbar_link_topic{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: right;
  color: #00CC33;
}
.footer_style{
  "padding": "10px",
  "background-color": "#232b2b",
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}
.input_box_number{
  box-shadow: 2px 2px 5px -2px #0BA1FF;
  border-radius: 5px;
  color: #FFFFFF;
}
.rc-slider-track{
  background-color: #0BA1FF;
}
.overlay{
  background-image: url("Homepage.png");
  background-repeat: no-repeat;
  position:relative;
  height:100vh;
  width:100vw;
  z-index:1;
}
.bonding_roi_card_style{
  background: #202020;
  mix-blend-mode: normal;
  box-shadow: 0px 0px 10px 3px #00CC33;
  border-radius: 15px;
}
.bonding_roi_card_metrics{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #0BA1FF;
}
.bonding_roi_card_topic{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: #FFFFFF;
}
.bonding_roi_card_metrics_secondary{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 96px;
  text-align: center;
  color: #FFFFFF;
  width: 213px;
  height: 100px;
  background: #4A4A4A;
  opacity: 1;
  border-radius: 15px;
  margin: auto;
}
.vl {
  border-left: 1px solid #FFFFFF;
  height: 100%;
  width: 1px;
  /*display: inline-block;*/
  margin: 0 auto;
  position: relative;
  transform: rotate(0deg);
  }
.carousel-inner > .item > img {
  width:40px;
  height:60px;
}

/* this section of the code is for the learning cards and guides styling */

.learncontainer {
  position: absolute;
  height: 300px;
  width: 600px;
  top: 60px;
  left: calc(50% - 300px);
  display: flex;
  padding-bottom: 50px;
}

.learncard {
  display: flex;
  height: 280px;
  width: 200px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
/*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
  padding-bottom: 50px;
}

.learncard:not(:first-child) {
    margin-left: -50px;
}

.learncard:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.learncard:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.learncardtitle {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.learncardbar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.learncardemptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.learncardfilledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.learncard_card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.learncardcircle {
  position: absolute;
  top: 150px;
  left: calc(50% - 60px);
}

.learncardstroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

learncardsvg {
  fill: #17141d;
  stroke-width: 2px;
}

.learncard_card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
